
/*@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502957769667'); !* IE9*!
  src: url('iconfont.eot?t=1502957769667#iefix') format('embedded-opentype'), !* IE6-IE8 *!
  url('iconfont.woff?t=1502957769667') format('woff'), !* chrome, firefox *!
  url('iconfont.ttf?t=1502957769667') format('truetype'), !* chrome, firefox, opera, Safari, Android, iOS 4.2+*!
  url('iconfont.svg?t=1502957769667#iconfont') format('svg'); !* iOS 4.1- *!
}*/
@import "../../libs/scss/rem";
@font-face {
  font-family: 'iconfont';  /* project id 388264 */
  src: url('//at.alicdn.com/t/font_388264_gjxw9fpkv4gc766r.eot');
  src: url('//at.alicdn.com/t/font_388264_gjxw9fpkv4gc766r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_388264_gjxw9fpkv4gc766r.woff') format('woff'),
  url('//at.alicdn.com/t/font_388264_gjxw9fpkv4gc766r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_388264_gjxw9fpkv4gc766r.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:rem(26);
  font-style:normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before { content: "\e6f3"; }

.icon-dingdanliebiao:before { content: "\e68e"; }

.icon-yuan:before { content: "\e672"; }

.icon-goumai:before { content: "\e67c"; }
.icon-kefu:before { content: "\e8a5"; }

.icon-jia:before { content: "\e6af"; }
.icon-jian:before { content: "\e635"; }
.icon-anzhuo:before { content: "\e62b"; }
.icon-ios:before { content: "\e61f"; }
.icon-zhedie:before { content: "\e621"; }
.icon-gou:before { content: "\e6a5"; }

.icon-user:before { content: "\e926"; }
.icon-pwd:before { content: "\e624"; }
.icon-close:before { content: "\e670"; }
.icon-tip:before { content: "\e60c"; }

.icon-lan2:before { content: "\e656"; }
.icon-duihuan:before { content: "\e76a"; }
.icon-kong:before { content: "\e830"; }

.icon-ios:before { content: "\e629"; }
.icon-right:before { content: "\e60b"; }
.icon-add2:before { content: "\e634"; }
.icon-plus2:before { content: "\e81c"; }
.icon-time:before { content: "\e627"; }