/**
 * Author：zhoushuanglong
 * Time：2017/7/27
 * Description：public
 */
@import "../../libs/scss/normalize";
@import "../../libs/scss/public";

html, body, #root, .ant-layout {
    height: 100%;
    color: #333333;
}

/*webkit滚动条样式*/
* {
    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
    &::-webkit-scrollbar-button {
        background-color: #f0f0f0;
    }
    &::-webkit-scrollbar-track {
        background: #f0f0f0;
    }
    &::-webkit-scrollbar-track-piece {
        background: #f0f0f0;
    }
    &::-webkit-scrollbar-thumb {
        background: #bbb;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-corner {
        background: #f0f0f0;
    }
}

.logo {
    float: left;
    width: 100px;
    height: 45px;
    background: url("./img/logo.png") left center no-repeat;
    background-size: contain;
    overflow: hidden;
    text-align: center;
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
    margin-top: 10px;
}

h3.system-title {
    color: #fff;
    margin-left: 45px;
    float: left;
    font-size: 23px;
}

.text-right {
    text-align: right;
}

.red-color {
    color: #ed5b5b;
}

.hot-img {
    background: url("./img/hot.png") no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

.goods-root {
    color: #e4e4e4;
    background-color: rgba(0,0,0,0.6);
    bottom: 0px;
    left: 1px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 3px 0px;
}

.mb30 {
    margin-bottom: 30px;
}