/**
 * Author：zhoushuanglong
 * Time：2017/8/21
 * Description：goods edit
 */

.goods-edit {
    .goods-edit-button {
        margin: 20px 0 0 100px;
        button {
            margin-right: 10px;
        }
    }
    .ant-upload-list-item-error {
        border-color: rgb(209,209,209);
    }
    .dynamic-delete-button {
        cursor: pointer;
        position: relative;
        top: 4px;
        font-size: 24px;
        color: #999;
        transition: all .3s;
    }
    .dynamic-delete-button:hover {
        color: #777;
    }
    .dynamic-delete-button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}