/**
 * Author：tantingting
 * Time：2017/8/21
 * Description：Description
 */
.common{
  .text-right{
    text-align: right;
  }
  .text-left{
    text-align: left;
  }
  .lh32{
    line-height: 32px;
  }
  .mt30{
    margin-top: 30px;
  }
  .mt20{
    margin-top: 20px;
  }
  .mr15{
    margin-right: 15px;
  }
  .ml15{
    margin-left: 15px;
  }
  .mb5{
    margin-bottom: 5px;
  }
  .form-label{
    line-height: 32px;
    text-align: right;
    padding: 0px 15px;
  }
  .form-control{
    padding: 0px 15px;
  }
  .form-group{
    margin-bottom: 15px;
  }
  a{
    text-decoration: none !important;
  }
  .table{
    width: 100%;
    border: 1px solid #e9e9e9;
  }
  .center-table{
    table{
      &>thead>tr>th,&>tbody>tr>td{
        text-align: center;
      }
    }

  }
  .ant-modal-footer{
    text-align: center;
  }
  .flex-inline-between{
    display: flex;
    justify-content: space-between;
  }
  .ant-modal-content{
    .ant-checkbox-group{
      .ant-row{
        padding: 5px 0;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        margin-Top: 10px;
      }
    }
  }

}
.s-top {
  margin-top: 20px;
  .float-left {
    float: left;
    width: 400px;
  }
  .float-right {
    float: right;
  }
}
.c-modal {
  .ant-modal-body {
    padding: 0 10px;
  }

  .c-body {
    height: 300px;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;

    & > div {
      float: left;
      height: 100%;
      overflow-y: auto;
      box-sizing: border-box;

      .item {
        height: 32px;
        line-height: 32px;

        &:hover {
          background-color: #e7f2fc;
        }

        &.chk {
          background-color: #e7f2fc;
        }
      }

      &.c-left {
        border-right: 1px solid #e9e9e9;
        width: 45%;

        label {
          padding: 0 8px;
        }
      }

      &.c-right {
        width: 55%;

        .item {
          padding-left: 10px;
        }
      }
    }
  }
}

